[package]
name = "utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
avl = "0.8.0"
char_enum_impl = {version="0.1.0", path="../char_enum_impl"}
nom = "8.0.0"
num-traits = "0.2.19"
